.top-header {
  position: fixed;
  z-index: 500;
  width: 100%;
  padding: 0 45px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .top-header {
      padding: 13px 0 0 34px; } }
  .top-header.after-scroll {
    padding-top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15); }
    .top-header.after-scroll .overlay {
      opacity: 1; }
  .top-header .overlay {
    opacity: 0;
    transition: all 0.3s; }

.logo-header {
  display: block;
  transform: translateY(20px);
  transition: all 0.3s; }
  @media (max-width: 767px) {
    .logo-header {
      transform: translateX(-45px); } }
  .top-header.after-scroll .logo-header {
    transform: translateY(1px); }
    @media (max-width: 767px) {
      .top-header.after-scroll .logo-header {
        transform: translateX(-45px); } }
  .logo-header .logo {
    display: inline-block;
    float: left;
    width: 185px;
    height: 60px;
    margin-right: 20px;
    transform: scale(0.7);
    vertical-align: middle; }
    @media (max-width: 767px) {
      .logo-header .logo {
        transform: scale(0.6); } }

.logo-navbar {
  width: 185px;
  height: 60px;
  margin: 8px 20px 0 -10px;
  transform: scale(0.6);
  vertical-align: middle; }

@media (max-width: 767px) {
  nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: auto;
    width: 256px;
    height: 100%;
    transition: all 0.5s;
    background: #fff;
    transform: translateX(-100%); } }
.st-menu-open nav {
  transform: translate(0); }
nav ul {
  float: initial;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  transform: translateY(40px);
  transition: all 0.3s; }
  @media (max-width: 767px) {
    nav ul {
      line-height: 20px;
      width: 95%;
      margin: 20px 0 0 5px;
      transform: translateY(0); } }
  .top-header.after-scroll nav ul {
    transform: translateY(20px); }
    @media (max-width: 767px) {
      .top-header.after-scroll nav ul {
        transform: translateY(0); } }
nav li {
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle; }
  @media (max-width: 767px) {
    nav li {
      display: block; } }
  nav li a {
    font-size: 13px;
    font-weight: 300;
    transition: all 0.3s;
    text-transform: uppercase;
    color: #fff; }
    @media (max-width: 767px) {
      nav li a {
        font-size: 16px;
        display: block;
        padding: 13px 15px 13px 15px;
        transition: all 0.3s;
        text-transform: none;
        color: rgba(0, 0, 0, 0.3);
        outline: 0; } }
    nav li a.current, nav li a:hover {
      text-decoration: none;
      color: #cfcfcf; }
      @media (max-width: 767px) {
        nav li a.current, nav li a:hover {
          color: #03a9f4; } }
    .top-header.after-scroll nav li a {
      color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 767px) {
        .top-header.after-scroll nav li a {
          top: 20px; } }
      .top-header.after-scroll nav li a.current, .top-header.after-scroll nav li a:hover {
        color: rgba(0, 0, 0, 0.8); }
        @media (max-width: 767px) {
          .top-header.after-scroll nav li a.current, .top-header.after-scroll nav li a:hover {
            color: #03a9f4; } }

.right-nav-button {
  margin: 11px 11px 0 0;
  transition: all 0.3s;
  opacity: 1;
  display: block; }
  .right-nav-button:nth-of-type(1) {
    margin-right: 65px; }
  .right-nav-button a {
    font-size: 11.7px; }
  .right-nav-button.right-nav-button-hidden {
    opacity: 0;
    transform: translateY(-50px); }

.icon-menu {
  width: 20px;
  height: 20px;
  fill: #e6e6e6; }
  .top-header.after-scroll .icon-menu {
    fill: #464646; }

.menu-trigger {
  float: right;
  transform: translateY(20px);
  right: 45px;
  transition: all 0.3s; }

.bottom-navlinks {
  position: absolute;
  bottom: 26px; }

.bottom-navlinks-small {
  position: relative;
  bottom: 26px;
  margin-top: 75px !important; }

/*# sourceMappingURL=_navigation.css.map */
